In [3]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement imbearn (from versions: none)
ERROR: No matching distribution found for imbearn

In [5]:
df= pd.read_csv('tele_churn.csv')

In [6]:
df

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,7038,0,84.80,1990.50,0,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,7039,0,103.20,7362.90,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,7040,0,29.60,346.45,0,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
7030,7041,1,74.40,306.60,1,0,1,0,1,1,...,0,0,0,1,1,0,0,0,0,0
7031,7042,0,105.65,6844.50,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,1

In [7]:
x=df.drop('Unnamed: 0',axis=1)

In [8]:
x

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,0,1,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,1,0,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
x=x.drop('Churn',axis=1)

In [10]:
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [12]:
y=df['Churn']

In [13]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [14]:
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [15]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
x_train

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
6008,0,56.15,291.45,0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
3826,0,74.75,827.05,0,1,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
3682,0,98.05,3990.60,1,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
3714,0,54.55,2455.05,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2128,1,70.55,70.55,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,1,78.85,1772.25,0,1,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
6769,0,44.80,559.20,0,1,0,1,0,1,0,...,1,0,0,0,0,1,0,0,0,0
3499,0,24.95,190.25,0,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1517,0,68.85,1970.50,1,0,1,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
2258,0,98.15,567.45,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0

In [18]:
model_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=8,min_samples_leaf=8)

In [19]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=8, min_samples_leaf=8, random_state=100)

In [20]:
y_pred=model_dt.predict(x_test)

In [23]:
model_dt.score(x_test,y_test)

0.7583511016346838

In [25]:
print(classification_report(y_test,y_pred,labels=(0,1)))

              precision    recall  f1-score   support

           0       0.80      0.87      0.84      1003
           1       0.60      0.47      0.53       404

    accuracy                           0.76      1407
   macro avg       0.70      0.67      0.68      1407
weighted avg       0.75      0.76      0.75      1407

In [86]:
#imbalanced data so accuracy is cursed
sm=SMOTEENN(sampling_strategy=.5)
x_r,y_r=sm.fit_sample(x,y)

In [87]:
x_r

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure range_1-12,tenure range_13-24,tenure range_25-36,tenure range_37-48,tenure range_49-60,tenure range_61-72
0,0,56.950000,1889.500000,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,42.300000,1840.750000,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
2,0,56.150000,3487.950000,0,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,0,105.500000,2686.050000,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
4,0,106.700000,7382.250000,0,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3764,0,80.991366,1629.601524,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3765,0,74.887483,541.320224,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3766,0,76.692392,76.692392,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
3767,0,80.532784,412.835050,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3768,0,104.494295,6276.219461,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [88]:
x_r_train,x_r_test,y_r_train,y_r_test=train_test_split(x_r,y_r,test_size=.2)

In [89]:
model_dt_r=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
model_dt_r.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [90]:
y_r_pred=model_dt_r.predict(x_r_test)

In [91]:
model_dt_r.score(x_r_test,y_r_test)

0.9456233421750663

In [92]:
print(classification_report(y_r_test,y_r_pred,labels=(0,1)))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       576
           1       0.94      0.82      0.88       178

    accuracy                           0.95       754
   macro avg       0.94      0.90      0.92       754
weighted avg       0.95      0.95      0.94       754

In [93]:
from sklearn.ensemble import RandomForestClassifier

In [94]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [95]:
model_rf.fit(x_r,y_r)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [96]:
model_rf_1=model_rf.fit(x_r_train,y_r_train)

In [97]:
model_rf_1

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [98]:
model_rf_1_pred=model_rf_1.predict(x_r_test)

In [99]:
model_rf_1.score(x_r_test,y_r_test)

0.9562334217506632

In [100]:
print(classification_report(y_r_test,y_r_pred,labels=(0,1)))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       576
           1       0.94      0.82      0.88       178

    accuracy                           0.95       754
   macro avg       0.94      0.90      0.92       754
weighted avg       0.95      0.95      0.94       754

In [101]:
import pickle

In [102]:
filename = 'finalized_model.sav'
pickle.dump(model_rf_1, open(filename, 'wb'))

In [105]:
load_mod=pickle.load(open(filename,'rb'))

In [106]:
load_mod.score(x_r_test,y_r_test)

0.9562334217506632